body {
  margin: 0;
  padding: 0;
}

hr {
  background-image: rgb(255, 255, 255);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.02) 100%);
  border: 0;
  height: 1px;
}

header,
main,
footer {
  font-family: "Roboto", sans-serif;
  font-size: .8em;
  font-weight: 300;
}

header {
  margin-top: 1em;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
}

ul {
  padding-left: 1.5em;
  margin-bottom: 0;
}

iframe {
  width: 100%;
  height: 300px;
}

footer {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* || FONTS */

@font-face {
  font-family: "Goudy Titling W05 SemiBold";
  src: url("fonts/GTWSB/GTWSB.eot");
  /* IE9*/
  src: url("fonts/GTWSB/GTWSB.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */
    url("fonts/GTWSB/GTWSB.woff2") format("woff2"),
    /* chrome、firefox */
    url("fonts/GTWSB/GTWSB.woff") format("woff"),
    /* chrome、firefox */
    url("fonts/GTWSB/GTWSB.ttf") format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("fonts/GTWSB/GTWSB.svg#Goudy Titling W05 SemiBold") format("svg");
  /* iOS 4.1- */
}

/* || CLASSES */

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}

.header-text {
  font-size: 1.1em;
  font-weight: 400;
}

.header-desc {
  margin: auto;
}

.nav-link-hr {
  margin: 0;
}

.nav-link-hr-end {
  margin: auto;
  width: 50%;
}

.fa-exclamation-triangle {
  color: red;
}

.btn {
  margin: .5em 0 .5em 0;
  font-size: .9em;
}

/* || HEADER */

#business-title {
  font-family: "Goudy Titling W05 SemiBold";
  font-size: 3.8em;
}

/* || NAV-BAR */

#header-div,
#logo-div {
  text-align: center;
}

#logo-div {
  margin-top: .65em;
}

#logo {
  width: 32px;
}

#nav-links {
  list-style: none;
  padding: 1em 0 0 0;
  font-size: .9em;
  font-weight: 400;
}

#nav-links li {
  line-height: 2.5em;
  text-align: center;
}

#covid19-notice {
  margin-bottom: 0;
}

#google-maps {
  margin-top: .5em;
}

/* copyright */
#copyright-div {
  display: flex;
}

#copyright-text {
  font-size: .85em;
  margin: auto 0;
}

/* div */
#backtotop-text {
  float: right;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  opacity: 0.7;
  transition: .5s ease;
}

/* icon */
#backtotop-icon {
  text-align: center;
  margin: auto;
  transition: .5s ease;
  color: white;
  font-size: 1em;
}

#my-div {
  display: flex;
}

#image-gallery-div {
  margin: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#image-gallery-image {
  transition: 1s ease;
}

#image-gallery-caption {
  background-color: #222;
  color: white;
  font-weight: 300;
  height: 2.5em;
}

#image-gallery-desc {
  margin-left: .25em;
  font-size: .8em;
}

#image-gallery-controls {
  float: right;
  margin-right: .5em;
  display: flex;
}

#arrow-left,
#arrow-right {
  transition: .1s ease-in-out;
  font-size: 1.7em;
  margin: auto;
}

#image-gallery-text {
  margin: 0 .5em 0 .5em;
  font-size: 1.7em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  #logo {
    width: 36px;
  }

  header,
  main,
  footer {
    font-size: .85em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #logo {
    width: 40px;
  }

  header,
  main,
  footer {
    font-size: .9em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #logo {
    width: 44px;
  }

  .header-desc {
    width: 75%;
  }

  header,
  main,
  footer {
    font-size: .95em;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #logo {
    width: 48px;
  }

  header,
  main,
  footer {
    font-size: 1em;
  }
}

@media(hover: hover) {
  #nav-links a:hover {
    color: red;
  }

  #arrow-left:hover,
  #arrow-right:hover {
    cursor: pointer;
    color: red;
  }
  
  #backtotop-text:hover>#backtotop-icon {
    transform: translate(0, -.35em);
  }
  
  #backtotop-text:hover {
    cursor: pointer;
    opacity: 1;
  }
}