@font-face {
  font-family: "Goudy Titling W05 SemiBold";
  src: url("../fonts/GTWSB/GTWSB.eot");
  /* IE9 */
  src: url("../fonts/GTWSB/GTWSB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/GTWSB/GTWSB.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/GTWSB/GTWSB.woff") format("woff"), /* chrome、firefox */
  url("../fonts/GTWSB/GTWSB.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  url("../fonts/GTWSB/GTWSB.svg#Goudy Titling W05 SemiBold") format("svg");
  /* iOS 4.1- */
}
