.splide {
  margin-bottom: 1em;
}

.splide__toggle {
  display: none;
}

.image-gallery-image {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (min-width: 476px) {
  .section-splide {
    // display: none;
    width: 50%;
  }
}
